<mat-toolbar>Devops Demo</mat-toolbar>
<mat-card>
  <mat-card-title>
   {{title}}
  </mat-card-title>
  <mat-card-content>
    <div>
        <form #myForm="ngForm" (ngSubmit)="submitForm()" class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [(ngModel)]="model.name" name="name" autocomplete="address-level2">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
                <input matInput placeholder="City" [(ngModel)]="model.city" name="city" autocomplete="address-level2">
              </mat-form-field>   
              
            <mat-form-field class="example-full-width">
                 <input matInput placeholder="Rating" [(ngModel)]="model.rating" name="rating" autocomplete="address-level2">
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Description" [(ngModel)]="model.description" name="description" autocomplete="address-level2"></textarea>
            </mat-form-field>  
            
            <button type="submit" mat-raised-button color="primary">Submit</button>
            <button mat-raised-button color="default" (click)="goBack()">Cancel</button>
          </form>
    </div>
      
  </mat-card-content>
</mat-card>
