.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-toolbar {
    background: #3f50b5;
    color: rgb(255, 255, 255);
}