.image{
  height: 100vh;
  background-size: 100%;
  width: auto;
  background-image: url('background.png'); 
  /* background-image: url('background-new.png'); */
  background-repeat: no-repeat;
  background-position: 0% 0%;
  z-index: 999999;
  }

  .launcher{
    position: fixed;
    top: 52vh;
    left: 29vh;
    background: #f27315;
    color: white;
  }

  /* height:40em; background-size:contain; width:auto;
    background-image:url('background.png');
    background-repeat: no-repeat;
    background-position:25% 30%;
    z-index: 999999; */
