.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .cursorOption{
    cursor: pointer;
  }

  .editOption{
    margin-left: 20px;
  }

  .mat-toolbar {
    background: #3f50b5;
    color: rgb(255, 255, 255);
}