<mat-toolbar>Devops Demo</mat-toolbar>
<mat-card>
   
   <!-- <mat-card-title>Customer Data</mat-card-title> -->
  <mat-card-content>
      <div style="margin-bottom: 15px;">
          <button mat-raised-button color="primary" (click)="createCustomer()">Create Customer</button>
      </div>
      <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell *matCellDef="let element" id="{{element.id}}" ><fa name="edit" (click)="edit(element.id)" class="cursorOption"></fa><fa name="trash"  (click)="deleteCustomer(element.id)" class="editOption cursorOption"></fa> </mat-cell>
            </ng-container>
        
            <!-- <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container> -->
        
            
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
        
           
            <ng-container matColumnDef="city">
              <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
            </ng-container>
        
            
            <ng-container matColumnDef="rating">
              <mat-header-cell *matHeaderCellDef> Rating </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.rating}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator
            [pageSize]="10"
            [pageSizeOptions]="[10,20,50,100]"
            [showFirstLastButtons]="true"
            >

          </mat-paginator>
        </div>
  </mat-card-content>
  
</mat-card>
